main {
    font-weight: bold;
}

h1{
    padding-left: 1em;
}

.form{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 40em;
    gap: 2em;
    border: 2px solid black;
    padding: 2em;
}

div.form-group{
    width: 15em;
}
.submit-button{
    width: 100%;
    display: flex;
    justify-content: center;
}

.submit-button *{
    width: 10em;
    background-color: white;
    border: 2px solid black;
    box-shadow: none;
    font-weight: bold;
}
